* {
  transition: 0.3s ease;
}
.intro_sec {
  height:100vh;
}
.body_sec {
  height:60vh;
  background-color: #F8F9FB;
  text-align: center
}

.ui_sec {
  height:60vh;
}
.example_design {

}
 /*UI Section Examples */
.example_design > img {
  max-width: 50%;
  margin-top: 10%;
  margin-left: 10%;

}

/*Add hover effect */

/*NAVBAR AND HEADER START */
.header {
font-size: 18px;
color:rgb(51,51,51);
}

.header > h1 {
  padding-left: 5%;
}
.nav_01 {
}

.nav_01 > nav {
  float:right;
  padding-right: 10%;
}

.nav_01 > nav > a {
  font-size:18px;
  color:rgb(51,51,51);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: 0.9s ease;
}

.nav_01 > nav > a:hover {
  border-bottom: 1px solid green;
}
.nav_01 > nav > a + a {
  margin-left: 10px;
}

@media screen and (max-width:767px) {
  .nav_01 > nav {
    float: left;
    padding-left: 5%;
  }
}


.intro {
  line-height: 1.4;
  margin-top: 14%;
  margin-left: 3%;
  position: absolute;
  animation-delay: .5s;
}
.intro > p {
  padding-left: 2%;
  padding-right: 18%;
  font-size: 2em;
  text-align-last:left;
  color: rgb(51, 51, 51);
}

@media screen and (max-width:767px) {
  .intro > p {
    padding-left: 5%;
    font-size:1.5em;
  }

/*NAVBAR AND HEADER END */

}
.content > p {
  margin-top: 11%;
  line-height: 40px;
  font-size: 1.2em;


}
.content > img {
  max-width: 20%;
}


/*PARTICLES JS */

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: #F5F7FA;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

}
