


  @media screen and (max-width:767px) {
      .intro> p {
          padding-left: 5%;
          padding-top: 20%;
      }
      .example_design {
          margin-left: 20%;
      }
      .example_design_2{
      }
      .section-text {
          margin-top: -20%;
      }
      .section-text> a:hover {
          margin: auto;
      }
      .nav_01> nav {
          float: left;
          padding-left: 5%;
      }

               .cta_text > p {
                 margin-top: 6%;
               }
               .cta_text > a {
                 margin-top: 4%;
               }
               .cta_text > h1 {
                 padding-top: 8%;
               }

  }
 /*

 iPhone Media Breakpoints
 Using static sizes
 */

        @media screen and (max-device-width: 414px) and (max-device-height: 776px) {
          .intro> p { padding-left: 5%;font-size: 3.5em;margin-top:250px}
          .nav_01> nav {float: left; padding-left: 5%;}
          .nav_01 >nav > a { font-size: 29px;}
          .example_design { margin-left: 20%; }
          .section-text { margin-top: 32%;  }
          .section-text> a:hover {
              margin: auto;
          }
         .intro_sec {
           height:1720px;
         }
         #particles-js {
           height:1600px;
         }
         .body_sec {
          height:910px;
         }

         .cta_text > p {
           margin-top: 6%;
         }
         .cta_text > a {
           margin-top: 4%;
         }
         .cta_text > h1 {
           padding-top: 8%;
           font-size: 40px;
         }
         .header > h1 {
           font-size: 30px;
         }
         .content > p {
           font-size: 30px;
           line-height: 61px;
           margin-top: 286px;
         }
         .ui_sec {
           height: 500px;
         }
         .section-text {
           font-size: 50px;
         }
         .subtext {
           font-size: 24px;
         }
         .cta_sec {
           height:920px;
         }
         .cta_text {
           margin-top: 18%;
         }
         .button.is-medium {
           font-size: 18px;
           height: 50px;
           width: 200px;
         }
         .cta_text > p {
           font-size: 25px;
         }
         .fa {
           font-size: 38px !important;
         }

}
